$TTL 86400

@   IN  SOA     {{DNS_host}}. root.{{domain}}. (

        2018121501  ;Serial

        3600        ;Refresh

        1800        ;Retry

        604800      ;Expire

        86400       ;Minimum TTL

)

@       IN  NS          {{DNS_host}}.

@       IN  A           {{DNS_ip}}

@       IN  A           {{client1_ip}}

@       IN  A           {{client2_ip}}

@       IN  A           {{ha_virtual_ip}}

@       IN  A           {{ha_lb1_ip}}

@       IN  A           {{ha_lb2_ip}}

{{DNS_host_short}}    IN  A   {{DNS_ip}}

{{ha_lb1_host}}       IN  A   {{ha_lb1_ip}}

{{ha_lb2_host}}       IN  A   {{ha_lb2_ip}}

{{client1_host}}           IN  A   {{client1_ip}}

{{client2_host}}           IN  A   {{client2_ip}}

{{ha_virtual_host}}        IN  A   {{ha_virtual_ip}}
